<ion-content id="bakery-admin-main-content" class="ion-padding">
    <form
        [formGroup]="settingsFormGroup"
        *ngIf="bakery$ | async; else indicator"
        (ngSubmit)="saveSettings()"
    >
        <ion-list>
            <ion-list-header>Settings</ion-list-header>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Description</ion-label>
                <ion-input
                    type="text"
                    formControlName="description"
                ></ion-input>
            </ion-item>
        </ion-list>
        <div class="full-width ion-text-right">
            <ion-button (click)="delete()" color="danger">Delete</ion-button>
            <ion-button type="submit" [disabled]="!settingsFormGroup.valid"
                >Save</ion-button
            >
        </div>
    </form>
    <div *ngIf="bakeryUsers$ | async as allUsers; else indicator">
        <ion-list>
            <ion-list-header>Admins</ion-list-header>
            <ion-item *ngFor="let admin of allUsers.admins">
                <ion-label>
                    <h2>{{ admin.fullName ?? "No name" }}</h2>
                    <h3>{{ admin.email }}</h3>
                </ion-label>
                <ion-button
                    *ngIf="allUsers.admins.length > 1"
                    (click)="removeUser(admin.email, true)"
                >
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header>Users</ion-list-header>
            <ion-item *ngFor="let user of allUsers.users">
                <ion-label>
                    <h2>{{ user.fullName ?? "No name" }}</h2>
                    <h3>{{ user.email }}</h3>
                </ion-label>
                <ion-button
                    *ngIf="allUsers.users.length > 1"
                    (click)="removeUser(user.email)"
                >
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>
    <ng-template #indicator>
        <div
            class="ion-text-center ion-padding full-width"
            id="bakery-admin-main-content-loading"
        >
            <ion-spinner></ion-spinner>
        </div>
    </ng-template>
</ion-content>
