<ion-menu content-id="bakery-main-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>BackX</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item *ngIf="userSettings$ | async as userSettings">
                <ion-label>
                    <h2>{{ userSettings.fullName }}</h2>
                    <h3 *ngIf="user$ | async as user">{{ user.email }}</h3>
                </ion-label>
                <ion-fab-button size="small" (click)="logout()">
                    <ion-icon name="log-out-outline"></ion-icon>
                </ion-fab-button>
            </ion-item>
            <ion-list-header> Navigate </ion-list-header>
            <ion-menu-toggle auto-hide="true">
                <ion-item button [routerLink]="['/bakery']">
                    <ion-icon slot="start" name="home"></ion-icon>
                    <ion-label> Your Bakeries </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-content id="bakery-main-content">
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>{{ title$ | async }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-router-outlet id="bakery-content"></ion-router-outlet>
        <app-bakery-admin-user-add-fab
            slot="fixed"
        ></app-bakery-admin-user-add-fab>
        <app-recipe-edit-fab slot="fixed"> </app-recipe-edit-fab>
        <app-bakery-add-fab slot="fixed"></app-bakery-add-fab>
    </ion-content>
</ion-content>
